
        * { background: #001;}
        
        #gc {
            padding: 10px;
            background: white;
        }
        .kalimat {
            color: whitesmoke;
        }
        h3 {
            color: azure;
        }

